PORT=5000
MONGODB_URI=mongodb+srv://baochaue300:ditcumai123@beauty.fzieobm.mongodb.net/dermacare?retryWrites=true&w=majority
JWT_SECRET=dermacare_secret_jwt_key_2026_super_secure_9999
GOOGLE_CLIENT_ID=527045395501-hvns1aibi5i75bl884u31ope2i4b4gg1.apps.googleusercontent.com
